{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "safari": "10",
          "chrome": "65",
          "firefox": "60",
          "edge": "17"
        }
      }
    ]
  ]
}
